<h1 style="display: inline-block">TinyApp</h1>

<% if(user) { %>
  <p style="display: inline-block; float: right; margin-top: 30px">
    Logged in as <strong><%= user.email %></strong>
  </p>
  <form method="POST" action="/logout" style="display: inline-block; float: right; margin-top: 30px">
    <input type="submit" value="Logout">
  </form>
<% } else { %>
  <nav style="float: right; margin-top: 30px;">
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </nav>
<% } %>