<h1>TinyApp</h1>

<% if(user) { %>
  <p>Logged in as <strong><%= user.email %></strong></p>
  <form method="POST" action="/logout">
    <input type="submit" value="Logout">
  </form>
<% } else { %>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
<% } %>