<h1>TinyApp</h1>

<% if(username) { %>
  <p>Logged in as <strong><%= username %></strong></p>
  <form method="POST" action="/logout">
    <input type="submit" value="Logout">
  </form>
<% } else { %>
  <form method="POST" action="/login">
    <input type="text" name="username">
    <input type="submit" value="Submit">
  </form>
<% } %>