<a href="/""><h1 class="inline">tinyApp</h1></a>

<% if(user) { %>
  <div class="navigation">

    <p class="nomargin">Logged in as <strong><%= user.email %></strong></p>

    <form method="POST" action="/logout" class="logoutForm">
      <input type="submit" value="Logout">
    </form>

  </div>
<% } else { %>
  <div class="navigation">

    <form action="/login" class="inline">
      <input type="submit" value="Login">
    </form>

    <form action="/register" class="inline">
      <input type="submit" value="Register">
    </form>

  </div>
<% } %>