<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>tinyApp - Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>

  <body>
    <div class="container col-md-offset-1">
      <header>
        <%- include('partials/_header') %>
      </header>

      <div class="row col-md-4">
        <h2>Login</h2>

        <form method="POST" action="/login">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" name="email" placeholder="Email">
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" name="password" placeholder="Password">
          </div>

          <input type="submit" value="Submit" class="btn btn-default btn-sm transparent-btn">
        </form>
        <br>

        <p class="inline"><strong>Not a User?</strong>
          <a href="/register" class="btn btn-default btn-xs transparent-btn">Register</a>
        </p>
      </div>
    </div>
  </body>
</html>