<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>tinyApp - Register</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
    </header>

    <main>
      <h2>Register</h2>

      <form method="POST" action="/register">
        <label for="email">Email</label>
        <input id="email" type="email" name="email">

        <label for="password">Password</label>
        <input id="password" type="password" name="password">

        <input type="submit" value="Submit" class="button">
      </form>

      <p class="inline">Already a User?
        <form action="/login" class="inline">
          <input type="submit" value="Login">
        </form>
      </p>
    </main>
  </body>
</html>