<!DOCTYPE html>

<html>
  <head>
    <title>TinyApp</title>
  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
    </header>

    <main>
      <h2>Register</h2>

      <form method="POST" action="/register">
        <label for="email">Email</label>
        <input id="email" type="email" name="email">

        <label for="password">Password</label>
        <input id="password" type="password" name="password">

        <input type="submit" value="Submit">
      </form>
    </main>
  </body>
</html>