<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>tinyApp - Create URL</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
    </header>

    <main>
      <h2>Create a new shortURL</h2>

      <form action="/urls" method="POST">
        <label for="longURL">Enter a URL:</label>
        <input id="longURL" type="text" name="longURL" value="http://" class="newForm">
        <input type="submit" value="Submit">
      </form>

      <small>URL must use HTTP or HTTPS protocol</small>
    </main>

  </body>

</html>