<!DOCTYPE html>

<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>

  <main>
    <h2>ShortURL: /u/<%= shortURL %></h2>

    <h3>Update shortURL link</h3>

    <form method="POST" action="/urls/<%= shortURL %>/update">
      <input type="text" name="updatedURL" value="<%= urls[shortURL].url %>" style="width: 200px;">
      <input type="submit" value="Update">
    </form>
  </main>

</body>

</html>