<!DOCTYPE html>

<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>

  <h2>URLs and their shortened URL</h2>

  <table style="width: 40%">
    <tr>
      <th>URL</th>
      <th>Shortened URL</th>
    </tr>

    <% for (let key in urls) { %>
      <tr style="text-align: center">
        <td><%= urls[key] %></td>
        <td><%= key %></td>
      </tr>
    <% } %>

  </table>

  <a href=''><p>SHORTEN NEW URL</p></a>
</body>

</html>