body {
  background: url(../assets/nathan-anderson-108136-unsplash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body, a h1 {
  color: white;
}

table {
  margin-top: 20px;
}

.inline {
  display: inline;
}

.custom-login {
  margin-top: 25px;
  margin-bottom: 10px;
}

.custom-logout {
  margin-top: 20px;
  margin-bottom: 10px;
}

.nomargin {
  margin: 0;
}

.transparent-btn {
  background-color: transparent;
  color: white;
}
